/* Debug */

.debug #app_header{
    background-color: rgb(173, 216, 230);
}

.debug #app_header .container{
    background-color: rgb(218, 165, 32);
    border: 1px dashed black;
}

.debug main>.container{
    background-color: rgb(0, 0, 139);
}

.debug main .box-1{
    background-color: rgb(238, 130, 238);
}

.debug .place{
    background-color: white;
}

.debug .place .container{
    background-color: red;
}

.debug .row-1{
    background-color: yellow;
}

.debug .col-4{
    background-color: pink;
}

.debug .col-8{
    background-color: lightseagreen;
}

.debug .found, section.contact{
    background-color: lightgray;
}

.debug .contact .container{
    background-color: green;
}

/* Common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */

#app_header .container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

#app_header{
    padding: 0.5rem;
}

#app_header ul, main .container, .row-1, .contact{
    display: flex;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    padding: 0.5rem;
}

/* Main */
 
main .container{
    height: 544px;
}

.box-1{
    width: 800px;
    height: 400px;
    margin: auto;
}

.place{
    padding: 1rem;
}

.place .container{
    width: 70%;
    height: 700px;
    margin: auto;
    align-items: center; 
}

.contact  .container{
    width: 70%;
    height: 1200px;
    margin: 1rem auto;
}

.row-1{
    width: 100%;
    height: 600px;
    align-items: center;
}

.col-4{
    width: calc((100% / 12) * 4);
    height: 500px;
}

.col-8{
    width: calc((100% / 12) * 8);
    height: 500px;
}

.col-12{
    width: 100%;
}




/* Utility */